body {
    font-family: 'Georgia', serif;
    background-color: #621B2D;
    color: #333;
    margin: 0;
}

.login-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 110px);
    position: relative;
}

.login-container form {
  max-width: 600px;
  width: 90%;
  padding: 40px;
  border-radius: 20px;
  color: #fce1da;
  background: #422134;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #A42B3D;
  position: relative;
}

.login-container form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/Slider/pedalboard.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
    border-radius: 20px;
    pointer-events: none;
}

.login-container .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #57fa2e;
}

.login-container form .form-control {
  background: white;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: #333;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}

.login-container form .btn-primary {
  background: #A42B3D;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

.login-container form .btn-primary:hover,
.login-container form .btn-primary:active {
  background: #8a2231;
  outline: none;
}

.login-container form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-container form .forgot:hover,
.login-container form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-container form .btn-primary:active {
  transform: translateY(1px);
}

.logoServices {
    height: 130px;
    opacity: 0.7;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    color: #fce1da;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}
