nav {
  background-color: #422134;
  color: #fce1da;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logoGrande {
  height: 60px;
  float: left;
  background-color: #422134;
}

.navLogo {
  background-color: #422134;
}

.navLogo:hover {
  background-color: #422134;
}

.userSession {
  background-color: #422134;
  display: grid;
  justify-items: center;
}

.btn-outline-light:hover {
  background-color: rgb(164, 43, 61) !important;
  border-color: rgb(164, 43, 61) !important;
  color: white !important;
}

.login-button {
  margin-top: -8px;
}
