nav {
  background-color: #422134;
  color: #fce1da;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoGrande {
  height: 100px;
  float: left;
  background-color: #422134;
}

.navLogo {
  background-color: #422134;
}

.navLogo:hover {
  background-color: #422134;
}

.userSession {
  background-color: #422134;
  display: grid;
  justify-items: center;
}