.services-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f6f4;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #a42b3d;
  min-height: calc(100vh - 110px);
}

.dashboard-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f6f4;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #a42b3d;
  min-height: calc(100vh - 110px);
  position: relative;
}

.dashboard-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/Slider/pedalboard.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 1;
  border-radius: 20px;
  pointer-events: none;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #a42b3d;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

p {
  /*line-height: 1.8;*/
  margin-bottom: 15px;
  text-align: justify;
  font-size: 15px;
  color: #444;
}

.logoServices {
  height: 80px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.slider-container {
  width: 80%;
  max-width: 500px;
  margin: 35px 0;
  text-align: center;
}

.slider {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.slider-image {
  min-width: 100%;
  height: 150px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.slider:hover .slider-image {
  filter: brightness(0.5);
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.slider:hover .slider-overlay {
  opacity: 1;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-btn {
  background: #a42b3d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s;
}

.slider-btn:hover {
  background: #8a2231;
}

.slider-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.card-img,
.card-img-top {
  min-width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-title {
  color: rgb(164, 43, 61);
}
