body {
    font-family: 'Georgia', serif;
    background-color: #621B2D;
    color: #333;
    margin: 0;
    /*padding: 20px; */
}

.services-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f6f4;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #A42B3D;
    min-height: calc(100vh - 110px);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #A42B3D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

p {
    /*line-height: 1.8;*/
    margin-bottom: 15px;
    text-align: justify;
    font-size: 15px;
    color: #444;
}

.logoServices {
    height: 130px;
    opacity: 0.7;
    margin-bottom: 13px;
}

.slider-container {
    width: 80%;
    max-width: 500px;
    margin: 35px 0;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-image {
    min-width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-btn {
    background: #A42B3D;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

.slider-btn:hover {
    background: #8a2231;
}

.slider-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}
